*{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ff8909;
    background: linear-gradient(to right, #ffa75a, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

}

.container {
    background-color: #ffeddf;
    background: linear-gradient(to left, #ffeddf, #fff9f3, #ffffff);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    
}

h1 {
    color: #000;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header p{
    color: rgb(77, 77, 77);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 35px;
}

.img-header{
    width: 282px;
    height: 97px;
    margin-left: 135px;
}

.login-right span{
    color: red;
}